*{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', serif;
}
.hero{
	width: 80%;
	margin: auto;
}
.navbar{
	margin: 30px auto;
	display: flex;
	align-items: center;
}
ul{
	flex: 1;
	align-items: right;
}
ul li{
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}
ul li a{
	 text-decoration: none;
	 color: #000;
	 padding: 0 10px;
	 position: relative;
}
ul li a::after{
	content: '';
	width: 0%;
	height: 10px;
	background: #ebb434;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
    
}
.banner{
    display: flex;
    margin-top: 80px;
}
.right-column img{
    object-position: left;
    width: 100%;
    
}
.left-column h1{
    font-size: 100px
}
.left-column h3{
    font-size: 99px;  
}
span{
    color: brown
}
.left-column p{
    font-size: 14px;
    color: burlywood;
    margin: 50px 0;
}
body {
  margin: 6px;
  background-color: white;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: inherit;
  width: 35.5%;
  margin-bottom: 16px;
  padding: 6px;
}
/*Картата - сенки*/
.card {
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 10px;
  float: left;
}

/*Зелената кутийка с описанието*/

.about-section {
  padding: 50px;
  margin: 10px;
  text-align: left;
  background-color: #b3cccc;
  color: black;
}

/*Картата*/

.container {
  padding: 16px;
  margin: 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: green;
}

/*Бутона*/

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #009933;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #b3cccc;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}